*{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.level-btns{
    text-align: center;
}
.level-btns h3{
    font-size:30px;
}
.level-btns span{
    font-size:30px;
    color:red;
}
.level-btns button{
    border:1px solid rgb(255, 94, 0);
    color:rgb(255, 94, 0);
    background-color: transparent;
    width:90px;
    height:20px;
    border-radius:2px;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    font-size:12px;
}
.level-btns button:hover{
    border:1px solid rgb(255, 94, 0);
    color:white;
    background-color: rgb(255, 94, 0);
}

.cell{
    width:30px;
    height:30px;
    text-align: center;
    font-size:10px;
}

/* #cell-101 span{
    display:none;
} */

.cell:hover{
    background-color: rgb(238, 238, 238);
}
table,td{
    border-collapse: collapse;
    border:1px solid rgb(214, 214, 214);
    margin:0 auto;
    margin-top:20px; 
}

.msg{
    text-align: center;
    margin-top:40px;
    font-size:40px;
}
.msg h1{
    font-size:24px;
    color:rgb(0, 0, 0);
}
.msg button{
    border:1px solid rgb(255, 0, 0);
    color:rgb(255, 0, 0);
    background-color: transparent;
    width:110px;
    height:30px;
    border-radius:2px;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    font-size:18px;
}
.msg button:hover{
    border:1px solid rgb(255, 0, 0);
    color:white;
    background-color: rgb(255, 0, 0);
}
.timer-lives{
    display: flex;
    align-items: center;
    margin:0 auto;
    text-align: center;
    width:200px;
    justify-content: space-evenly;
    margin-top:20px;
    border-radius: 3px;
}

.smiley{
    font-size:30px;
}
.timer{
    font-size: 16px;
    font-weight: 600;
}




